.main {

}

.header, .statusMessage {
	font-weight: inherit;
}

.statusMessage {
	height: 60px;
}

.note {
	padding-bottom: 20px;
}

.buttonContainer {
	display: flex;
	justify-content: space-between;
}

/* TODO duplicated css - put in main css file? */
.button {
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 12px;
	font-family: inherit;

	border: 1px #222 solid;
	/*background-color: #222;*/
	background-color: white;
	/*color: white;*/
	color: #222;
	cursor: pointer;

	border-radius: 4px;
	padding-top: 6px;
	padding-bottom: 6px;
	padding-left: 10px;
	padding-right: 10px;

	transition: background-color 0.1s ease;
	transition: color 0.1s ease-in;
}

.button:hover {
	/*color: #222;*/
	color: white;
	/*background-color: white;*/
	background-color: #222;

	transition: background-color 0.1s ease;
	transition: color 0.1s ease-in;
}
