.main {
	display: flex;
	flex-direction: column;
	height: inherit;
}

.headerContainer {
	text-align: center;

	display: flex;
	justify-content: center;
	align-items: center;
	height: 100px;
	padding-top: 30px;
	padding-bottom: 50px;
}

.header {
	font-weight: inherit;
}

.content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: stretch;

	flex-grow: 1;
	padding-bottom: 150px;
}

.groupContainer {
	display: flex;
	justify-content: space-evenly;
}

.group {
	display: flex;
	justify-content: center;
}
